<ion-header>
    <ion-toolbar>
        <ion-title>Producto</ion-title>
    </ion-toolbar>
</ion-header>

<ion-content padding>
    <ion-card>
        <ion-img src="/assets/imgSW/jardin2.png"></ion-img>
        <ion-card-header>
            <ion-card-title>Podadora de jardin</ion-card-title>
        </ion-card-header>

        <ion-card-content>
            <ion-row>
                <ion-col>
                    <h5>Precio por dia</h5>
                </ion-col>
                <ion-col>
                    <h5>$80</h5>
                </ion-col>
            </ion-row>
            <ion-button size="small">Rentar</ion-button>
        </ion-card-content>
    </ion-card>


</ion-content>