<ion-content padding>
    <ion-button no-padding mode="ios" fill="clear" [routerLink]="'/login/'" routerDirection="back"><ion-icon name="arrow-back"></ion-icon>Regresar</ion-button>
  
    <div text-center>
  
      <img src="../../assets/icon/camera.png" alt="">
      <p>Agrega una foto de perfil</p>
  
      <ion-item>
        <ion-label position="stacked">Nombre:</ion-label>
        <ion-input type="email" placeholder="Ingresa tu nombre"></ion-input>
      </ion-item>
  
      <ion-item>
        <ion-label position="stacked">Apellido:</ion-label>
        <ion-input type="email" placeholder="Ingresa tu apellido"></ion-input>
      </ion-item>
  
      <ion-item>
        <ion-label position="stacked">Email:</ion-label>
        <ion-input type="email" placeholder="Ingresa tu correo"></ion-input>
      </ion-item>
  
      <ion-item>
        <ion-label position="stacked">Password:</ion-label>
        <ion-input type="password" placeholder="Ingresa tu contraseña"></ion-input>
      </ion-item>
  
      <br>
      
      <ion-button color="light" expand="block" fill="solid" [routerLink]="'/app/'" routerDirection="forward">Registrarme</ion-button>
  
    </div>
  </ion-content>